.container-div{
    width: 400px;
    height: 445px;
    background-color: rgb(238, 211, 238);
    padding: 40px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-div button{
    background: palevioletred;
    border: none;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;

}

.inputs-registro{
    width: 100%;
    background: rgb(238, 238, 178);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid purple;
}

.texto-mensajes{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: purple;
    
}