.button-back {
  width: 28px;
  height: 28px;
  background-image: url(https://i.pinimg.com/564x/ec/f8/52/ecf852e701d03dfa2266d1b6a8262f08.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  margin: 12px;
  cursor: pointer;
}