<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aubrey&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Tramada Tejidos</title>
</head>
<body>
    <header class="iconos-menu">
        <section class="logo-menu">
            <figure>
                <a href="./home.html">
                    <a href="home.html">
                <img src="../assets/Iconoemp.png" alt="logo de empresa">
            </a>
            </a>
            </figure>
        </section>
        <section class="perfil-menu">
            <img src="/assets/usuario.png" alt="logo de empresa">
        </section>
    </header>
    <main class="main-home">
        <section class="Menu">
            <nav class="list-menu" role="navigation">
                <ul>
                    <a href="./productos.html" >
                    <li>Productos</li>
                </a>
                <a href="./insumos.html">
                    <li>Insumos</li>
                </a>
                    <li>Tejedoras</li>
                    <li>Proveedor</li>
                    <li>Estadisticas</li>
                    <a href="./configuracion.html">
                        <li>Configuración</li>
                    </a>
                </ul>
            </nav>
        </section>
        <section class="tabla-productos">
            <table class="estilo-tabla" width="1000">
                 <nav class="menu-configuracion">
                            <ul class="menu-horizontal">
                                <li><a href="#">cambiar idioma</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">ingles</a></li>
                                    <li><a href="#">español</a></li>
                                    <li><a href="#">frances</a></li>
                                    <li><a href="#">italiano</a></li>

                                </ul>
                                <li>
                                    <a href="#">cambiar tema</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">blanco</a></li>
                                    <li><a href="#">oscuro</a></li>
                                    <li><a href="#">automatico</a></li>
                                </ul>
                                </li>
                                <li>
                                    <a href="#">notificaciones de inventario</a>
                                    <ul class="menu-vertical">
                                        <li><a href="#">activar</a></li>
                                        <li><a href="#">desactivar</a></li>
                                        <li><a href="#">cambiar topes de inventario</a></li>
                                        <li><a href="#">ajustar la cantidad minima de productos o insumos para recibir la notificacion</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">ajustes de almacenamiento</a>
                                    <ul class="menu-vertical">
                                        <li><a href="#">disco local</a></li>
                                        <li><a href="#">en la nube</a></li>
                                        <li><a href="#">usb</a></li>
                                        <li><a href="#">descargar informacion</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Configuración de usuario</a>
                                    <ul class="menu-vertical">
                                        <li><a href="#">cambiar contraseña</a></li>
                                        <li><a href="#">actualizar información personal</a></li>
                                    </ul>
                                </li>
                                <li>
                                <a href="#">Configuracion de precios</a>
                                <ul class="menu-vertical">
                                    <li><a href="#">gestion de listas de precios</a></li>
                                    <li><a href="#">descargar listas de precios</a></li>
                                        <li><a href="#">actualizar precios</a></li>
                                </li>       
                            </ul>
                        </nav>
                </table>           
         </section>
    </main>
</body>
</html>