<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aubrey&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Tramada tejidos</title>
</head>

<body>
    <header class="iconos-menu">
        <section class="logo-menu">
            <figure>
                <img src="../assets/Iconoemp.png" alt="logo de empresa">
            </figure>
        </section>
        <section class="perfil-menu">
            <a href="../index.html">
            <img src="../assets/usuario.png" alt="logo de empresa">
        </a>
        </section>
    </header>
    <main class="main-home">
        <section class="Menu">
            <nav class="list-menu" role="navigation">
                <ul>
                    <a href="./productos.html" >
                    <li>Productos</li>
                </a>
                <a href="./insumos.html">
                    <li>Insumos</li>
                </a>
                <a href="./clientes.html">
                    <li>Clientes</li>
                </a>
                <a href="./proveedores.html">
                    <li>Proveedor</li>
                </a>
                    <li>Estadisticas</li>
                    <a href="./configuracion.html">
                        <li>Configuración</li>
                    </a>
                </ul>
            </nav>
        </section>
        <section class="container-main-home">

            <section class="container-logo-home">
                <h1 class="Title-main-home">TRAMADA TEJIDOS SYSTEM 2024</h1>
                <figure class="icono-main-home">
                    <img src="../assets/Icono.png" alt="Icono empresa">
                </figure>
            </section>

            <section class="container-logos-menu">
                <a href="./productos.html">
                <section class="productos">
                    <img class="Productos" src="https://img.icons8.com/?size=100&id=9671&format=png&color=000000"
                        alt="icono-productos">
                    <h3 class="Title-productos">Productos</h3>
                </section>
            </a>
                <section class="Insumos-menu">
                    <a href="./insumos.html">
                    <img class="Insumos" src="https://img.icons8.com/?size=100&id=1326&format=png&color=000000"
                        alt="icono-insumos">
                    <h3 class="Title-insumos">Insumos</h3></a>
                </section>
                <section class="Proveedor-menu">
                    <a href="./productos.html">
                    <img class="Proveedor" src="https://img.icons8.com/?size=100&id=61849&format=png&color=000000"
                        alt="icono-Proveedor">
                    <h3 class="Title-proveedores">Proveedores</h3></a>
                </section>
                <section class="Clientes-menu">
                    <a href="./clientes.html">
                    <img class="Clientes" src="https://img.icons8.com/?size=100&id=2906&format=png&color=000000"
                    alt="icono-clientes">
                    <h3 class="Title-clientes">Clientes</h3></a>
                </section>
                <section class="Estadisticas-menu">
                    <img class="Estadisticas" src="https://img.icons8.com/?size=100&id=11496&format=png&color=000000"
                        alt="icono-estadisticas">
                    <h3 class="Title-estadisticas">Estadisticas</h3>
                </section>
                <section class="Configuración">
                    <a href="./configuracion.html">
                    <img class="Configuración" src="https://img.icons8.com/?size=100&id=11360&format=png&color=000000"
                        alt="icono-configuracion">
                    <h3 class="Title-configuracion">Configuración</h3></a>
                </section>

            </section>
        </section>

    </main>

</body>

</html>