<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Aubrey&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Tramada Tejidos</title>
</head>
<body>
    <header class="iconos-menu">
        <section class="logo-menu">
            <figure>
                <a href="./home.html">
                    <a href="home.html">
                <img src="../assets/Iconoemp.png" alt="logo de empresa">
            </a>
            </a>
            </figure>
        </section>
        <section class="perfil-menu">
            <img src="/assets/usuario.png" alt="logo de empresa">
        </section>
    </header>
    <main class="main-home">
        <section class="Menu">
            <nav class="list-menu" role="navigation">
                <ul>
                    <li>Productos</li>
                    <a href="./insumos.html">
                        <li>Insumos</li>
                    </a >
                    <li>Tejedoras</li>
                    <li>Proveedor</li>
                    <li>Estadisticas</li>
                    <a href="./configuracion.html">
                    <li>Configuración</li>
                </a>
                </ul>
            </nav>
        </section>
        <section class="tabla-productos">
            <table class="estilo-tabla" width="1000">
                <thead class="estilo-head-tabla">
                    <tr>
                        <th colspan="7">
                <img src="../assets/Iconoemp.png" alt="">
                        </th>
                        <tr>
                            <td colspan="6">
                                <button>Buscar</button>
                                <input type="text" size="50">
                            </td>
                            <td>
                                <button>Añadir</button>
                            </td>
                        </tr> 
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Peso</th>
                            <th>Stock</th>
                            <th>Precio</th>
                            <th>Fecha de entrada</th>
                            <th>Accion</th>
                        </tr>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>1</td>
                <td>Saco</td>
                <td>2 kg</td>
                <td>20</td>
                <td>30.000</td>
                <td>13/06/2024</td>
                <td>
                    <button>Modificar</button>
                    <button>Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Saco</td>
                <td>2 kg</td>
                <td>20</td>
                <td>30.000</td>
                <td>13/06/2024</td>
                <td>
                    <button>Modificar</button>
                    <button>Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Saco</td>
                <td>2 kg</td>
                <td>20</td>
                <td>30.000</td>
                <td>13/06/2024</td>
                <td>
                    <button>Modificar</button>
                    <button>Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Saco</td>
                <td>2 kg</td>
                <td>20</td>
                <td>30.000</td>
                <td>13/06/2024</td>
                <td>
                    <button>Modificar</button>
                    <button>Eliminar</button>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Saco</td>
                <td>2 kg</td>
                <td>20</td>
                <td>30.000</td>
                <td>13/06/2024</td>
                <td>
                    <button>Modificar</button>
                    <button>Eliminar</button>
                </td>
            </tr>
      
               
                </tbody>
            </table>
        </section>
    </main>
</body>
</html>