.container-config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-bottom: 24px;
}

.content-list-config {
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.content-list-config button, .container-form-config button {
    align-self: flex-end;
    font-size: 16px;
    background-color: rgb(241, 241, 178);
    padding: 10px 15px;
    color: purple;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.content-list-config button:hover, .container-form-config button:hover {
    background-color: #45a049;
}

.container-form-config {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form-config form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    padding: 20px;
    border-radius: 8px;
}

.container-form-config form label {
    width: 100%;
}