:root {
    /* Colores */
    --backgroundButton: #A0A603;


    /*Espacios*/
    --container80: 80%;
    --margenGap24: 24px;
    --marginGap8: 8px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}
body{
    overflow: hidden;
}

/* Estilos para el hearder de inicio de sesión */

.container-logo figure {
    max-width: 490px;
    margin: 0 auto;
}

/* Estilos para el main de inicio de sesión */

main {
    width: 100%;
    height: 80vh;
}

.container-form--login {
    height: 100%;
    position: relative;
}

.content-form--title {
    width: var(--container80);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-title--form--login {
    width: var(--container80);
    font-size: 1.8rem;
    margin-bottom: 38px;
}

.content-form--login {
    width: var(--container80);
}

.content-form--login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: var(--marginGap8);
}

.content-form--login form div {
    margin-bottom: var(--margenGap24);
}

.content-form--login form div {
    display: flex;
    flex-direction: column;
    gap: var(--margenGap8);
    text-align: start;
}

.content-form--login input {
    width: 320px;
    height: 38px;
    border: solid 1px ;
    border-radius: var(--marginGap8);
    margin-top: var(--marginGap8);
}

.content-form--login form button {
    width: 320px;
    height: 38px;
    border: solid 1px ;
    border-radius: var(--marginGap8);
    background-color: var(--backgroundButton);
    
    cursor: pointer;
}

.content-form--login form button:hover {
    color: aliceblue;
    transition: 400ms ease;
}

.content-description--registre {
    font-size: 1.4rem;
}